# Defines the directory where intermediate raster files (e.g., downloaded STAC assets) are stored and read from.
INTERIM_PATH=./data/interim

# Defines the directory where final processed outputs (e.g., the RGB composite) are written.
OUTPUT_PATH=./data/final

# Specifies the absolute or relative path to the JSON configuration file governing the data download.
CONFIG_FETCH_JSON=./config/combine_rgb.json

# Specifies the absolute or relative path to the JSON configuration file governing the combination routine.
CONFIG_COMBINE_JSON=./config/combine_rgb.json
